doctype html
html(lang='en', ng-app='pieApp')
	head
		meta(charset='utf-8')
		title Piely.net &ndash; Pie Chart Generation Made Simple
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='/css/dist/app.min.css')


	body

		.container(ng-controller="AppCtrl")
			.row: .col-lg-12
				h1.page-header Piely.net
					small
						span.hidden-xs
							| &nbsp;&ndash;Pie Chart Generation Made Simple

				.panel.panel-success
					.panel-heading How to use this site...
					.panel-body
						ol
							li Play with the chart builder below to see how the URL's are generated
							li Hot link the pie charts from your own site using standard &lt;img&gt; tags
							li Take the rest of the day off, making pie charts is hard work!


			#builder


			footer.well: .row: .col-xs-12.text-center
				div.credits
					div Site design and programming by
						a(href="http://jasonrushton.com") http://JasonRushton.com

					div Source available at
						a(href="https://github.com/fooey/piely") https://github.com/fooey/piely



		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js')
		//- script(src='https://cdn.rawgit.com/YuzuJS/setImmediate/master/setImmediate.js')

		if process.env.NODE_ENV === 'development'
			script(src='//cdnjs.cloudflare.com/ajax/libs/react/0.12.1/react-with-addons.js')
			script(src='/js/dist/app.js')
		else
			script(src='//cdnjs.cloudflare.com/ajax/libs/react/0.12.1/react-with-addons.min.js')
			script(src='/js/dist/app.min.js')



		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-51384-41', 'piely.net');
			ga('send', 'pageview');