!!! 5
html(lang='en')
	head
		meta(charset='utf-8')
		title Node Pies
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')

		if process.env.NODE_ENV === 'development'
			script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js')
			script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js')
		else
			script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
			script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')

	body

		#navbar.navbar.navbar-default(role="navigation")
			.navbar-header
				button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar

				a.navbar-brand(href="/") Node Pies

		.container
			.row
				.col-md-12
					h1 I like pie

