


/*!
*
* https://github.com/Augus/ngAnimate
*
!*/
@import (less) "./ng-animation.css";


/*!
*
*	app
*
!*/


.page-header {
	small {
		whites-space: nowrap;
		display: inline-block;
	}
}

#example {
	white-space: nowrap;
	text-align: center;
}

#exampleUrl {
	text-align: center;
	a{
		font-size: 14pt;
		font-weight: bold;
		color: #fff;
		text-decoration: underline;
	}
}
#examplePie {
	text-align: center;
	overflow: hidden;
}

.sliceDeleter{
	color: #900;
	cursor: pointer;
}


footer {
	.credits {
		padding: 1em;
	}
	img{
		height: 54px;
		margin: 16px auto;
		display: block;
	}
}